/* CSS code snippet for Multicolor Gradient Background (on Left Container) */
selector{
    background: linear-gradient(130deg,#ff7a18,#af002d 41%,#319197 76%);
}

/* CSS code snippet on Right Container */
@media (min-width:768px){
selector{
    max-width: calc(100% - 260px);
}    
}

/*CSS code snippet for Post Title */

selector{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* CSS code snippet for Post Category */

selector a{
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 2px;
}

/* CSS code snippet on Post Widget */

selector{
    --article: 10;
}
selector{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
selector > .elementor-widget-container{
    overflow: auto;
}
selector a{
    text-decoration: none;
    -webkit-user-drag: none;
}
selector a:focus{
    outline: none;
}
selector article:first-child{
    margin-left: 0;
}
selector article{
    width: 300px;
    margin-left: -130px;
    transition: all 0.2s ease-in-out;
}
selector article:hover{
    transform: translateY(-1rem) rotate(3deg);
    margin-right: 80px;
}
selector .elementor-grid{
    grid-template-columns: repeat(var(--article),1fr);
}
selector .elementor-widget-container::-webkit-scrollbar {
    height: 0px;
}
/////
/* 
